.jumbo {
  background-color: rgb(38, 49, 58);
  margin-bottom: 20px;
  color: white;
}

#fiveDayContainer {
  padding-right: 1em;
}

#fiveDayContainer > div {
  /* margin-right: 2em; */
  max-width: 95%;
}

.displayNone {
  display: none;
}
